<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <security:debug/>

    <security:global-method-security pre-post-annotations="enabled" proxy-target-class="true" />

    <security:http use-expressions="true">
        <security:intercept-url pattern="/**" access="permitAll"/>
        <security:form-login/>
        <security:logout logout-success-url="/" delete-cookies="JSESSIONID"/>
        <security:remember-me/>
        <security:session-management invalid-session-url="/">
            <security:concurrency-control max-sessions="1" error-if-maximum-exceeded="true"/>
        </security:session-management>
    </security:http>

    <bean id="encoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder"/>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:password-encoder ref="encoder"/>
            <security:user-service>
                <!-- zoltan/zoltan and admin/admin -->
                <security:user name="zoltan"
                               password="36621c37446b15c6a7428b23ac4f557a886118bf692aebfd66f90a8607fdeab868c148fad2404cb9"
                               authorities="user"/>
                <security:user name="admin"
                               password="c2522a098953b5d17bd23b5f6980abee91fb2f2524c56896f8b21df470d5927075af67585ddb9870"
                               authorities="admin"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

    <context:component-scan base-package="com.backbase.poc.authorize"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>